# =========================
# Python Virtual Environment
# =========================
venv/
.venv/
env/

# =========================
# Python Cache Files
# =========================
__pycache__/
*.py[cod]
*$py.class

# =========================
# Django Database
# =========================
db.sqlite3
*.sqlite3

# =========================
# Environment Variables
# =========================
.env
.env.*

# =========================
# VS Code
# =========================
.vscode/

# =========================
# PyCharm / IDE
# =========================
.idea/

# =========================
# Django Static Files
# =========================
staticfiles/

# =========================
# Logs
# =========================
*.log

# =========================
# OS Files
# =========================
.DS_Store
Thumbs.db